{% extends "layout.html" %}
{% block body %}


    <div class="jumbotron">
        <div class="container">
            <h1 style="text-align: center;">
                <i class="fa fa-microphone" style="font-size:48px;color:maroon"></i>
                                  Azure Speech-To-Text Demo UI
            </h1>
        </div>
    </div>

    <div>
        <form>
            <div class="form-group" id="translator-text-response" style="margin:15px;">
              <label for="translation-result"><strong>Record Audio :</strong></label>
            </div>
            </form>
            <button style="margin:15px;" id="start" class="btn btn-success" onclick="startRecording()" disabled>Start</button>
            <button style="margin:15px;" id="stop" class="btn btn-danger" onclick="stopRecording()" disabled>Stop</button>


       </div>
        
       <form>
        <div class="form-group" id="translator-text-response" style="margin:10px;">
          <label for="translation-result"><strong>Transcribed text:</strong></label>
          <textarea readonly class="form-control" id="output" name="output" rows="5"></textarea>
        </div>
        </form>

        </div>
        <button style="margin:10px;" type='button' id ='retrieve'>Analyze Transcribed Text</button>
        <div style="margin:10px;" id='wordResult'></div>
        
        <script>
            $(document).ready(function() {
               $('#retrieve').click(function(){
                   var word = $('#output').val();
                   $.ajax({
                   url: "/sentiment",
                   type: "get",
                   data: {word: word},
                   success: function(response) {
                   $("#wordResult").html(response.html);
                  },
                  error: function(xhr) {
                    //Do Something to handle error
                 }
                 });
               });
            });
          </script>

         

            <button style="margin:10px;" type='button' id ='retrieve1'>Extract Keywords</button>
            <div style="margin:10px;" id='wordResult1'></div>

            <script>
                $(document).ready(function() {
                $('#retrieve1').click(function(){
                    var word = $('#output').val();
                    $.ajax({
                    url: "/keyphrase",
                    type: "get",
                    data: {word: word},
                    success: function(response) {
                    $("#wordResult1").html(response.html);
                    },
                    error: function(xhr) {
                        //Do Something to handle error
                    }
                    });
                });
                });
            </script>

        
    <script src="{{ url_for('static', filename='recorder.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>


{% endblock %}